<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.irow"
        versionCode = "16" 
        version     = "1.0.6" >

    <!-- versionCode is optional and Android only -->

    <name>iRow Athlete</name>

    <description>
        The mobile app for logging your exercises to your online iRow profile
    </description>

    <author href="https://www.lawriecate.com" email="lawrie@irow.co.uk">
        Lawrie Cate
    </author>

   <access origin="*" />

</widget>