<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.irow"
        versionCode = "110" 
        version     = "1.0.10" >

    <!-- versionCode is optional and Android only -->

    <name>iRow Athlete</name>

    <description>
        The mobile app for logging your exercises to your online iRow profile
    </description>

    <author href="https://www.lawriecate.com" email="lawrie@irow.co.uk">
        Lawrie Cate
    </author>
    <icon src="icon.png" />
    <icon src="images/ios/AppIcon57x57.png" gap:platform="ios" width="57" height="57" />
    <icon src="images/ios/AppIcon72x72.png" gap:platform="ios" width="72" height="72" />
    <icon src="images/ios/AppIcon57x57_2x.png" gap:platform="ios" width="114" height="114" />

    <!-- retina iPad support: PhoneGap 2.5.0+ only -->
    <icon src="images/ios/AppIcon72x72_2x.png" gap:platform="ios" width="144" height="144" />

   <access origin="*" />

</widget>